<div class="header text-center text-white" id="head">
	<h1><br>Service</h1>
	<button type="submit" routerLink="/home" class="mr-3 mt-5 button1">Home</button>
  <button type="submit" routerLink="/add-details" class="mr-3 mt-5 mb-5 button1">Add-Details</button> 
</div>

<div class="container-fluid back">
    <div class="container">
        <div class="row">
            <div class="col-lg-3 col-md-1 "></div>
        <div class="col-lg-6 col-md-10 col-sm-8 mt-4 mb-4">	
          <div class="card flex-row flex-wrap ">
              <img src="https://www.w3schools.com/bootstrap4/img_avatar3.png" height="130" width="120">        
            <div class="card-block px-3">						
                <h5 class="card-text"> <b>{{display.myname}}</b></h5>						
                <b class="card-text">{{display.email}}</b><br>					
                <span class="card-text"> Reg.No : <b>{{display.registerno}}</b></span><br>
                <span class="card-text">Age : <b>{{display.age}}</b></span><br>
                <span class="card-text">Aadhaar No : <b>{{display.aadhaarno}}</b></span>					         
            </div>
          </div>
        </div>
        <div class="col-lg-3 col-md-1"></div>
          
        </div>    
    </div>
  </div>
  <div class="footer  text-center " id="head">@Service<br><br></div>
